.container {
  padding: 40px;
  background-color: white;
  font-size: 18px;
  font-family: 'Poppins';
}

.student {
  padding: 30px;
  background-color: #9bf;
  margin: 10px;
}

.selected {
  background-color: #f09;
}

button {
  width: calc(100%);
  border: 1px solid blue;
  padding: 15px;
  color: black;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  margin-top: 5px;
}
