.container {
  padding: 40px;
  background-color: white;
  font-size: 18px;
  font-family: 'Poppins';
}

button {
  width: calc(100%);
  border: 1px solid blue;
  padding: 15px;
  color: black;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  margin-top: 5px;
}

input {
  font-size: 15px;
  padding: 5px 10px;
  width: calc(100%);
  margin-top: 10px;
}
